@tailwind base;
@tailwind components;
@tailwind utilities;

.banner{
  background: url(./img/main.jpg);
  background-size: cover;
}
.bannerm{
  background: url(./img/mainm.jpg);
  background-size: cover;
}
.arabic{
  direction: rtl;
}